<p id="notice"><%= notice %></p>

<h1>カラオケ料金検索</h1>

<%= form_with(url: result_path, local: true) do |form| %>

  <div>
    <%= form.label :date, "曜日" %>
    <%= select_tag "front[date]", options_for_select(EasySettings.date) %>
  </div>

  <div>
    <%= form.label :start_time, "開始時間" %>
    <%= time_select "front[start_time]", :start_time, :minute_step => 10 %>
  </div>

  <div>
    <%= form.label :end_time, "終了時間" %>
    <%= time_select "front[end_time]", :end_time, :minute_step => 10 %>
  </div>

  <div class="actions">
    <%= form.submit "料金を計算" %>
  </div>

<% end %>

<%= link_to '新規店舗登録', new_karaoke_shop_path %>
