<p id="notice"><%= notice %></p>

<h1>カラオケ料金検索</h1>

<%= form_with(url: karaoke_shops_path, local: true) do |form| %>

  <div>
    <%= form.label :date, "曜日" %>
    <%= select_tag "front[date]", options_for_select(EasySettings.date) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
