<%= form_with(model: karaoke_shop, local: true) do |form| %>
  <% if karaoke_shop.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(karaoke_shop.errors.count, "error") %> prohibited this karaoke_shop from being saved:</h2>

      <ul>
      <% karaoke_shop.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :karaoke_shop_name %>
  </div>

  <div class="field">
    <%= form.label :karaoke_kind_id %>
    <%= form.select :karaoke_kind_id, options_for_select(KaraokeKind.pluck(:name, :id))%>
  </div>

  <h2> プライスデータ　</h2>

  <div class="field">
    <%= form.label :weekday_day_price %>
    <%= number_field_tag "member_price_data[weekday_day_price]", :weekday_day_price %>
  </div>

  <div class="field">
    <%= form.label :holiday_day_price %>
    <%= number_field_tag "member_price_data[holiday_day_price]", :holiday_day_price %>
  </div>

  <div class="field">
    <%= form.label :weekday_night_price %>
    <%= number_field_tag "member_price_data[weekday_night_price]", :weekday_night_price %>
  </div>

  <div class="field">
    <%= form.label :holiday_night_price %>
    <%= number_field_tag "member_price_data[holiday_night_price]", :holiday_night_price %>
  </div>

  <div class="field">
    <%= form.label :weekday_dayfree1_price %>
    <%= number_field_tag "member_price_data[weekday_dayfree1_price]", :weekday_dayfree1_price %>
  </div>

  <div class="field">
    <%= form.label :holiday_dayfree1_price %>
    <%= number_field_tag "member_price_data[holiday_dayfree1_price]", :holiday_dayfree1_price %>
  </div>

  <div class="field">
    <%= form.label :weekday_nightfree1_price %>
    <%= number_field_tag "member_price_data[weekday_nightfree1_price]", :weekday_nightfree1_price %>
  </div>

  <div class="field">
    <%= form.label :holiday_nightfree1_price %>
    <%= number_field_tag "member_price_data[holiday_nightfree1_price]", :holiday_nightfree1_price %>
  </div>

  <div class="field">
    <%= form.label :weekday_dayfree2_price %>
    <%= number_field_tag "member_price_data[weekday_dayfree2_price]", :weekday_dayfree2_price %>
  </div>

  <div class="field">
    <%= form.label :holiday_dayfree2_price %>
    <%= number_field_tag "member_price_data[holiday_dayfree2_price]", :holiday_dayfree2_price %>
  </div>

  <div class="field">
    <%= form.label :weekday_nightfree2_price %>
    <%= number_field_tag "member_price_data[weekday_nightfree2_price]", :weekday_nightfree2_price %>
  </div>

  <div class="field">
    <%= form.label :holiday_nightfree2_price %>
    <%= number_field_tag "member_price_data[holiday_nightfree2_price]", :holiday_nightfree2_price %>
  </div>

  <h2> フリータイムデータ　</h2>

  <div class="field">
    <%= form.label :weekday_dayfree1_starttime %>
    <%= time_select "freetime_data[weekday_dayfree1_starttime]", :weekday_dayfree1_starttime, {minute_step: 10, include_blank: true} %>
  </div>

  <div class="field">
    <%= form.label :weekday_dayfree1_endtime %>
    <%= time_select "freetime_data[weekday_dayfree1_endtime]", :weekday_dayfree1_endtime, {minute_step: 10, include_blank: true} %>
  </div>

  <div class="field">
    <%= form.label :weekday_dayfree1_limittime %>
    <%= number_field_tag "freetime_data[weekday_dayfree1_limittime]", :weekday_dayfree1_limittime %>時間
  </div>

  <div class="field">
    <%= form.label :holiday_dayfree1_starttime %>
    <%= time_select "freetime_data[holiday_dayfree1_starttime]", :holiday_dayfree1_starttime, {minute_step: 10, include_blank: true} %>
  </div>

  <div class="field">
    <%= form.label :holiday_dayfree1_endtime %>
    <%= time_select "freetime_data[holiday_dayfree1_endtime]", :holiday_dayfree1_endtime, {minute_step: 10, include_blank: true} %>
  </div>

  <div class="field">
    <%= form.label :holiday_dayfree1_limittime %>
    <%= number_field_tag "freetime_data[holiday_dayfree1_limittime]", :holiday_dayfree1_limittime %>時間
  </div>

  <div class="field">
    <%= form.label :weekday_nightfree1_starttime %>
    <%= time_select "freetime_data[weekday_nightfree1_starttime]", :weekday_nightfree1_starttime, {minute_step: 10, include_blank: true} %>
  </div>

  <div class="field">
    <%= form.label :weekday_nightfree1_endtime %>
    <%= time_select "freetime_data[weekday_nightfree1_endtime]", :weekday_nightfree1_endtime, {minute_step: 10, include_blank: true} %>
  </div>

  <div class="field">
    <%= form.label :weekday_nightfree1_limittime %>
    <%= number_field_tag "freetime_data[weekday_nightfree1_limittime]", :weekday_nightfree1_limittime %>時間
  </div>

  <div class="field">
    <%= form.label :holiday_nightfree1_starttime %>
    <%= time_select "freetime_data[holiday_nightfree1_starttime]", :holiday_nightfree1_starttime, {minute_step: 10, include_blank: true} %>
  </div>

  <div class="field">
    <%= form.label :holiday_nightfree1_endtime %>
    <%= time_select "freetime_data[holiday_nightfree1_endtime]", :holiday_nightfree1_endtime, {minute_step: 10, include_blank: true} %>
  </div>

  <div class="field">
    <%= form.label :holiday_nightfree1_limittime %>
    <%= number_field_tag "freetime_data[holiday_nightfree1_limittime]", :holiday_nightfree1_limittime %>時間
  </div>

  <div class="field">
    <%= form.label :weekday_dayfree2_starttime %>
    <%= time_select "freetime_data[weekday_dayfree2_starttime]", :weekday_dayfree2_starttime, {minute_step: 10, include_blank: true} %>
  </div>

  <div class="field">
    <%= form.label :weekday_dayfree2_endtime %>
    <%= time_select "freetime_data[weekday_dayfree2_endtime]", :weekday_dayfree2_endtime, {minute_step: 10, include_blank: true} %>
  </div>

  <div class="field">
    <%= form.label :weekday_dayfree2_limittime %>
    <%= number_field_tag "freetime_data[weekday_dayfree2_limittime]", :weekday_dayfree2_limittime %>時間
  </div>

  <div class="field">
    <%= form.label :holiday_dayfree2_starttime %>
    <%= time_select "freetime_data[holiday_dayfree2_starttime]", :holiday_dayfree2_starttime, {minute_step: 10, include_blank: true} %>
  </div>

  <div class="field">
    <%= form.label :holiday_dayfree2_endtime %>
    <%= time_select "freetime_data[holiday_dayfree2_endtime]", :holiday_dayfree2_endtime, {minute_step: 10, include_blank: true} %>
  </div>

  <div class="field">
    <%= form.label :holiday_dayfree2_limittime %>
    <%= number_field_tag "freetime_data[holiday_dayfree2_limittime]", :holiday_dayfree2_limittime %>時間
  </div>

  <div class="field">
    <%= form.label :weekday_nightfree2_starttime %>
    <%= time_select "freetime_data[weekday_nightfree2_starttime]", :weekday_nightfree2_starttime, {minute_step: 10, include_blank: true} %>
  </div>

  <div class="field">
    <%= form.label :weekday_nightfree2_endtime %>
    <%= time_select "freetime_data[weekday_nightfree2_endtime]", :weekday_nightfree2_endtime, {minute_step: 10, include_blank: true} %>
  </div>

  <div class="field">
    <%= form.label :weekday_nightfree2_limittime %>
    <%= number_field_tag "freetime_data[weekday_nightfree2_limittime]", :weekday_nightfree2_limittime %>時間
  </div>

  <div class="field">
    <%= form.label :holiday_nightfree2_starttime %>
    <%= time_select "freetime_data[holiday_nightfree2_starttime]", :holiday_nightfree2_starttime, {minute_step: 10, include_blank: true} %>
  </div>

  <div class="field">
    <%= form.label :holiday_nightfree2_endtime %>
    <%= time_select "freetime_data[holiday_nightfree2_endtime]", :holiday_nightfree2_endtime, {minute_step: 10, include_blank: true} %>
  </div>

  <div class="field">
    <%= form.label :holiday_nightfree2_limittime %>
    <%= number_field_tag "freetime_data[holiday_nightfree2_limittime]", :holiday_nightfree2_limittime %>時間
  </div>

  <h2> 曜日データ　</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>曜日</th>
        <th>day</th>
        <th>night</th>
        <th>day_freetime</th>
        <th>night_freetime</th>
      </tr>
    </thead>
    <tbody>
      <% EasySettings.date.each_with_index do |date,i| %>
        <tr>
          <td><%= date %></td>
          <td><%= select_tag "date_statuses[date#{i}][day]", options_for_select(EasySettings.date_statuses) %></td>
          <td><%= select_tag "date_statuses[date#{i}][night]", options_for_select(EasySettings.date_statuses) %></td>
          <td><%= select_tag "date_statuses[date#{i}][day_freetime]", options_for_select(EasySettings.date_statuses) %></td>
          <td><%= select_tag "date_statuses[date#{i}][night_freetime]", options_for_select(EasySettings.date_statuses) %></td>
          <%= hidden_field_tag "date_statuses[date#{i}][date]", date %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <h2> ショップ情報 </h2>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>曜日</th>
        <th>open_time</th>
        <th>close_time</th>
        <th>nightstart_time</th>
      </tr>
    </thead>
    <tbody>
      <% EasySettings.date.each_with_index do |date,i| %>
        <tr>
          <td><%= date %></td>
          <td><%= time_select "shoptime_data[date#{i}][open_time]", :open_time, :minute_step => 10 %></td>
          <td><%= time_select "shoptime_data[date#{i}][close_time]", :close_time, :minute_step => 10 %></td>
          <td><%= time_select "shoptime_data[date#{i}][night_starttime]", :nightstart_time, :minute_step => 10 %></td>
          <%= hidden_field_tag "shoptime_data[date#{i}][date]", date %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
