<p id="notice"><%= notice %></p>

<h1>Karaoke Shops</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Day price</th>
      <th>Night price</th>
      <th>Dayfree1 price</th>
      <th>Nightfree1 price</th>
      <th>Open time</th>
      <th>Close time</th>
      <th>Nightstart time</th>
      <th>Dayfree1 start time</th>
      <th>Dayfree1 endtime</th>
      <th>Nightfree1 start time</th>
      <th>Nightfree1 endtime</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @karaoke_shops.each do |karaoke_shop| %>
      <tr>
        <td><%= karaoke_shop.name %></td>
        <td><%= karaoke_shop.day_price %></td>
        <td><%= karaoke_shop.night_price %></td>
        <td><%= karaoke_shop.dayfree1_price %></td>
        <td><%= karaoke_shop.nightfree1_price %></td>
        <td><%= karaoke_shop.open_time %></td>
        <td><%= karaoke_shop.close_time %></td>
        <td><%= karaoke_shop.nightstart_time %></td>
        <td><%= karaoke_shop.dayfree1_start_time %></td>
        <td><%= karaoke_shop.dayfree1_endtime %></td>
        <td><%= karaoke_shop.nightfree1_start_time %></td>
        <td><%= karaoke_shop.nightfree1_endtime %></td>
        <td><%= link_to 'Show', karaoke_shop %></td>
        <td><%= link_to 'Edit', edit_karaoke_shop_path(karaoke_shop) %></td>
        <td><%= link_to 'Destroy', karaoke_shop, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Karaoke Shop', new_karaoke_shop_path %>
