<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @karaoke_shop.name %>
</p>

<p>
  <strong>Day price:</strong>
  <%= @karaoke_shop.day_price %>
</p>

<p>
  <strong>Night price:</strong>
  <%= @karaoke_shop.night_price %>
</p>

<p>
  <strong>Dayfree1 price:</strong>
  <%= @karaoke_shop.dayfree1_price %>
</p>

<p>
  <strong>Nightfree1 price:</strong>
  <%= @karaoke_shop.nightfree1_price %>
</p>

<p>
  <strong>Open time:</strong>
  <%= @karaoke_shop.open_time %>
</p>

<p>
  <strong>Close time:</strong>
  <%= @karaoke_shop.close_time %>
</p>

<p>
  <strong>Nightstart time:</strong>
  <%= @karaoke_shop.nightstart_time %>
</p>

<p>
  <strong>Dayfree1 start time:</strong>
  <%= @karaoke_shop.dayfree1_start_time %>
</p>

<p>
  <strong>Dayfree1 endtime:</strong>
  <%= @karaoke_shop.dayfree1_endtime %>
</p>

<p>
  <strong>Nightfree1 start time:</strong>
  <%= @karaoke_shop.nightfree1_start_time %>
</p>

<p>
  <strong>Nightfree1 endtime:</strong>
  <%= @karaoke_shop.nightfree1_endtime %>
</p>

<%= link_to 'Edit', edit_karaoke_shop_path(@karaoke_shop) %> |
<%= link_to 'Back', karaoke_shops_path %>
